{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 8"
        ]
      }
    }],
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-pug-html",
    "jsx-v-model",
    "jsx-vue-functional",
    "transform-vue-jsx",
    "add-module-exports"
  ]
}